<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Edit task modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">Task Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mt-2 mb-3 py-0">
                <form [formGroup]="taskEditForm" (ngSubmit)="updateTask(taskEditForm)" class="py-0">
                    <div class="form-group">
                        <label>Task Name</label>
                        <input type="text"
                            [ngClass]="{'is-invalid': taskEditForm.get('taskname').errors && (taskEditForm.get('taskname').touched || taskEditForm.get('taskname').dirty)}"
                            formControlName="taskname" class="form-control">
                        <span *ngIf="taskEditForm.get('taskname').errors" class="invalid-feedback">Task Name is
                            necessary.</span>
                    </div>
                    <div class="form-group">
                        <label>Task Priority</label>
                        <select formControlName="priority" class="form-control"
                            [ngClass]="{'is-invalid': taskEditForm.get('priority').errors && (taskEditForm.get('priority').touched || taskEditForm.get('priority').dirty)}">
                            <option>Very High</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                        <span *ngIf="taskEditForm.get('priority').errors" class="invalid-feedback">Priority is
                            required.</span>

                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input formControlName="date" class="form-control" type="date" min="{{today}}"
                            [ngClass]="{'is-invalid': taskEditForm.get('priority').errors && (taskEditForm.get('priority').touched || taskEditForm.get('priority').dirty)}">
                        <span *ngIf="taskEditForm.get('date').errors" class="invalid-feedback">Enter a valid
                            date.</span>
                    </div>
                    <div class="form-group">
                        <label>Task Description</label>
                        <textarea formControlName="description" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input formControlName="done" class="form-check-input" type="checkbox" id="checkBoxInput"
                                [checked]="taskEditForm.get('done').value">
                            <label *ngIf="taskEditForm.get('done').value" class="form-check-label" for="checkBoxInput">
                                Marked as Done
                            </label>
                            <label *ngIf="!taskEditForm.get('done').value" class="form-check-label" for="checkBoxInput">
                                Mark as Done
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        attechments: <br>
                        <div class="border px-2 py-4">
                            <div *ngFor="let i=index; let fileName of fileNames" class="px-0">
                                <button (click)="removeFile(i)" class="btn btn-outline-dark mb-1">
                                    <i class="fa fa-close"></i>
                                </button> {{i+1+'. '}} {{fileName.name}}
                            </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-outline-dark" onclick="$('#file-input').click();">Add
                            attechments</button>
                        <input id="file-input" formControlName='attechment' (change)="onFileSelected($event)"
                            style="display: none;" type="file" multiple>
                    </div>
                    <div class="container text-center">
                        <button type="submit" class="btn btn-outline-primary mx-2"
                            onclick="$('#taskModal').modal('hide');" [disabled]="!taskEditForm.valid">Update</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete task modal -->
<div class="modal fade" id="deletetaskModal" tabindex="-1" role="dialog" aria-labelledby="deletetaskModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletetaskModalLabel">Delete Task?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Name: {{deleteTaskName}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- main content of page -->
<div *ngIf="!daySelected">
    <div class="row" style="flex-wrap: nowrap;">
        <div class="col-9">
            <div class="container my-4 mx-2">
                <h1>Calendar</h1>
            </div>
        </div>
        <div class="col-3 text-center align-self-center">
            <button class="btn btn-outline-dark" [disabled]="month === today.getMonth() && year === today.getFullYear()"
                (click)="currentMonthButton()">Current Month</button>
        </div>
    </div>
    <div class="container align-items-center mx-2">
        <div id="mainContent" class="d-flex px-4 border" style="overflow-y: scroll; height: 75vh; width: 80vw;">
            <div class="container align-self-center" style="margin: 0px; padding: 0px;">
                <div class="card w-100">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="my-2">{{month_names[month]}}, {{year}}</h3>
                            </div>
                            <div class="col-2 align-self-center">
                                <button class="btn btn-outline-dark btn-block" (click)='previousMonthButton()'>
                                    < {{month_names[previousMonth]}}</button>
                            </div>
                            <div class="col-2 align-self-center">
                                <button class="btn btn-outline-dark btn-block"
                                    (click)='nextMonthButton()'>{{month_names[nextMonth]}} ></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-responsive-sm" id="calendar">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let arr of days1, let i = index'>
                                    <td *ngFor='let day of arr'
                                        (mouseenter)='hoverEnterFunction($event)'
                                        (mouseleave)='hoverLeaveFunction($event)' (click)='daySelectedFunction($event)'>
                                        {{day}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="daySelected">
    <div *ngIf='loading' class="d-flex justify-content-center align-items-center" style="height: 92vh;">
        <div class="spinner-border" style="width: 10vw; height: 10vw; color: blue; border-width: 0.5vw;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf='!loading'>
        <div class="row" style="flex-wrap: nowrap;">
            <div class="col-2">
                <div class="container my-4 mx-2">
                    <button class="btn btn-outline-dark" (click)="backToCalendarFunction()">
                        < Calendar</button>
                </div>
            </div>
            <div class="col-8 text-center align-self-center">
                <div class="container">
                    <h1>Tasks of {{month_names[month]}} {{selectedDay}}, {{year}}</h1>
                </div>
            </div>
        </div>
        <div class="container align-items-center mx-2">
            <div *ngIf="tasks.length === 0">
                <div id="mainContent" class="d-flex justify-content-center align-items-center px-4 border"
                    style="overflow-y: scroll; height: 75vh; width: 80vw;">

                    <h1 class="align-self-center text-muted">Nothing to Show. <br> Add some tasks ;)</h1>
                </div>
            </div>
            <div *ngIf="tasks.length > 0">
                <div id="mainContent" class="px-4 border" style="overflow-y: scroll; height: 75vh; width: 80vw;">
                    <div *ngFor="let task of tasks; let i = index" id="pr{{task.prno}}-border"
                        class="card flex-md-row my-4 shadow-sm h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="row w-100">
                                <div [ngClass]="isAttechment[i] ? 'col-9 border-right': 'col-12'">
                                    <strong id="pr{{task.prno}}">{{task.priority}} Priority</strong>
                                    <br>
                                    <span class="my-1 badge badge-secondary" data-toggle="tooltip"
                                        data-bs-placement="right" title="Monthly Routine"
                                        style="user-select: none;">{{task.routine}}</span>
                                    <h3 class="mb-0">
                                        <span (click)="editTaskDetails(task, i)" id="taskTitle" class="text-dark"
                                            data-toggle="modal" data-target="#taskModal"
                                            [ngStyle]="{'text-decoration': task.done===true?'line-through':''}">{{task.taskname}}</span>
                                    </h3>
                                    <div class="mb-1 text-muted">{{this.datepipe.transform(task.date,
                                        'dd-MM-yyyy')}}
                                    </div>
                                    <p class="card-text mb-auto text-justify">{{task.description}}</p>
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" #ckeckBoxInput id="{{task.id}}"
                                            (change)='markAsDone(task.id)' [checked]="task.done">
                                        <label *ngIf="task.done" class="form-check-label" for="{{task.id}}">
                                            Marked as Done
                                        </label>
                                        <label *ngIf="!task.done" class="form-check-label" for="{{task.id}}">
                                            Mark as Done
                                        </label>
                                    </div>
                                    <div class="mt-2">
                                        <button (click)="deleteTask(task)" type="button" class="btn btn-outline-danger"
                                            data-toggle="modal" data-target="#deletetaskModal">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="isAttechment[i]" class="col-3 border-left">
                                    <h5>
                                        Attechments:
                                    </h5>
                                    <div *ngFor="let attc of task.attechment; let i = index">
                                        {{i+1}}. {{attc.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>