<router-outlet (window:resize)="onResize($event)" *ngIf="screenSizeMatch"></router-outlet>
<div *ngIf="!screenSizeMatch" (window:resize)="onResize($event)" class="justify-content-center align-items-center p-4 border">
    <h1 class="align-self-center text-muted">Error: This site is not responsive for small devices.</h1>
    <div class="px-5 m-3 text-center mx-auto border rounded bg-light border-dark">
        <div>
            Project Name: Smart Task Scheduler <br>
            Team Members: <br>
            190170107122 Dhruvil Bhavinbhai Rathod <br>
            190170107116 Kaivalya Maheshbhai Prajapati <br>
            Team ID: 356627 <br>
            Guide: Prof. Amit H. Rathod <br>
            Semester: 6 <br>
            Subject: Design Engineering <br>
            Vishwakarma Government Engineering College
        </div>
    </div>
</div>