<!-- main content of page -->
<div class="row" style="flex-wrap: nowrap;">
    <div class="col-8">
        <div class="container my-4 mx-2">
            <h1>Add a new Routine</h1>
        </div>
    </div>
    <div class="col-4 text-center align-self-center">
        <div class="container">
            <div class="btn-group" role="group">
                <button [ngClass]="isButton1Active? 'btn btn-dark': 'btn btn-outline-dark'"
                    (click)="showForm1()">Daily</button>
                <button [ngClass]="isButton2Active? 'btn btn-dark': 'btn btn-outline-dark'"
                    (click)="showForm2()">Weekly</button>
                <button [ngClass]="isButton3Active? 'btn btn-dark': 'btn btn-outline-dark'"
                    (click)="showForm3()">Monthly</button>
                <button [ngClass]="isButton4Active? 'btn btn-dark': 'btn btn-outline-dark'"
                    (click)="showForm4()">Yearly</button>
            </div>
        </div>
    </div>
</div>
<div class="container align-items-center mx-2">
    <div id="mainContent" class="px-4 border" style="overflow-y: scroll; height: 75vh; width: 80vw;">
        <form [formGroup]="addRoutineForm" class="my-4" (ngSubmit)="addNewRoutine(addRoutineForm)">
            <div class="form-group">
                <label>Routine Name</label>
                <input formControlName="taskname" type="text" class="form-control"
                    [ngClass]="{'is-invalid': addRoutineForm.get('taskname').errors && (addRoutineForm.get('taskname').touched || addRoutineForm.get('taskname').dirty)}">
                <span *ngIf="addRoutineForm.get('taskname').errors" class="invalid-feedback">Routine Name is
                    required.</span>
            </div>
            <div class="form-group">
                <label>Priority</label>
                <select formControlName="priority" class="form-control"
                    [ngClass]="{'is-invalid': addRoutineForm.get('priority').errors && (addRoutineForm.get('priority').touched || addRoutineForm.get('priority').dirty)}">
                    <option>Very High</option>
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
                <span *ngIf="addRoutineForm.get('priority').errors" class="invalid-feedback">Priority is
                    required.</span>
            </div>
            <div *ngIf="isDiv1Active" class="form-group">
                <label>Time of the day</label>
                <div class="row">
                    <div class="col-2">
                        <label>HH</label>
                        <select formControlName="hour" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('hour').errors && (addRoutineForm.get('hour').touched || addRoutineForm.get('hour').dirty)}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>MM</label>
                        <select formControlName="mins" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('mins').errors && (addRoutineForm.get('mins').touched || addRoutineForm.get('mins').dirty)}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">22</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="">AM/PM</label>
                        <select formControlName="ampm" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('ampm').errors && (addRoutineForm.get('ampm').touched || addRoutineForm.get('ampm').dirty)}">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>
                    </div>
                </div>
                <div>
                    <small
                        *ngIf="(addRoutineForm.get('hour').errors && (addRoutineForm.get('hour').touched || addRoutineForm.get('hour').dirty)) || 
                        (addRoutineForm.get('mins').errors && (addRoutineForm.get('mins').touched || addRoutineForm.get('mins').dirty)) || 
                        (addRoutineForm.get('ampm').errors && (addRoutineForm.get('ampm').touched || addRoutineForm.get('ampm').dirty))"
                        class="text-danger">Please select valid time.</small>
                </div>
            </div>

            <div *ngIf="isDiv2Active" class="form-group">
                <div class="row">
                    <div class="col-2">
                        <label>Select Week-Day</label>
                        <select formControlName="day" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('day').errors && (addRoutineForm.get('day').touched || addRoutineForm.get('day').dirty)}">
                            <option value="sunday">Sunday</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                        </select>
                        <span *ngIf="addRoutineForm.get('day').errors" class="invalid-feedback">Day is required.</span>
                    </div>
                    <div class="col-2">
                        <label>HH</label>
                        <select formControlName="hour" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>MM</label>
                        <select formControlName="mins" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">22</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>AM/PM</label>
                        <select formControlName="ampm" class="form-control">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>
                    </div>
                </div>
            </div>

            <div *ngIf="isDiv3Active" class="form-group">
                <div class="col-3 px-0">
                    <label>Select the Day</label>
                    <select formControlName="day" class="form-control"
                        [ngClass]="{'is-invalid': addRoutineForm.get('day').errors && (addRoutineForm.get('day').touched || addRoutineForm.get('day').dirty)}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">0</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                    </select>
                    <span *ngIf="addRoutineForm.get('day').errors" class="invalid-feedback">Day is required.</span>
                </div>
            </div>
            <div *ngIf="isDiv4Active" class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label>Select the Month</label>
                        <select formControlName="month" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('month').errors && (addRoutineForm.get('month').touched || addRoutineForm.get('month').dirty)}">
                            <option value="jan">January</option>
                            <option value="feb">February</option>
                            <option value="mar">March</option>
                            <option value="apr">April</option>
                            <option value="may">May</option>
                            <option value="jun">June</option>
                            <option value="jul">July</option>
                            <option value="aug">Augest</option>
                            <option value="sep">September</option>
                            <option value="oct">October</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Select the Day</label>
                        <select formControlName="day" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('day').errors && (addRoutineForm.get('day').touched || addRoutineForm.get('day').dirty)}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">0</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                        </select>
                    </div>
                </div>
                <div>
                    <small
                        *ngIf="(addRoutineForm.get('month').errors && (addRoutineForm.get('month').touched || addRoutineForm.get('month').dirty)) || 
                        (addRoutineForm.get('day').errors && (addRoutineForm.get('day').touched || addRoutineForm.get('day').dirty))"
                        class="text-danger">Please select both month and day.</small>
                </div>
            </div>
            <div class="form-group">
                <label>Routine Description</label>
                <textarea formControlName="description" class="form-control" rows="5"></textarea>
            </div>
            <div class="container text-center">
                <!-- <button *ngIf="submitting" class="btn btn-primary mx-2" disabled>
                    <i class="fa fa-spinner fa-spin"></i>
                    Adding Task</button> -->
                <button class="btn btn-primary mx-2" [disabled]="!addRoutineForm.valid" type="submit">
                    Add Routine</button>
                <button class="btn btn-outline-danger mx-2" type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>