<!-- main content of page -->
<form [formGroup]="addRoutineForm" (ngSubmit)="addNewRoutine(addRoutineForm)" class="py-0">
    <div class="row" style="flex-wrap: nowrap;">
        <div class="col-8">
            <div class="container my-4 mx-2">
                <h1>Add a new Routine</h1>
            </div>
        </div>
        <div class="col-4 text-center align-self-center">
            <div class="container">
                <div class="btn-group" role="group">
                    <button type="button" [ngClass]="routineType1? 'btn btn-dark': 'btn btn-outline-dark'"
                        (click)="showForm1()">Daily</button>
                    <button type="button" [ngClass]="routineType2? 'btn btn-dark': 'btn btn-outline-dark'"
                        (click)="showForm2()">Weekly</button>
                    <button type="button" [ngClass]="routineType3? 'btn btn-dark': 'btn btn-outline-dark'"
                        (click)="showForm3()">Monthly</button>
                    <button type="button" [ngClass]="routineType4? 'btn btn-dark': 'btn btn-outline-dark'"
                        (click)="showForm4()">Yearly</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container align-items-center mx-2">
        <div id="mainContent" class="p-4 border" style="overflow-y: scroll; height: 75vh; width: 80vw;">
            
            <div class="form-group">
                <label>Routine Name</label>
                <input formControlName="taskname" type="text" class="form-control"
                    [ngClass]="{'is-invalid': addRoutineForm.get('taskname').errors && (addRoutineForm.get('taskname').touched || addRoutineForm.get('taskname').dirty)}">
                <span *ngIf="addRoutineForm.get('taskname').errors" class="invalid-feedback">Routine Name is
                    required.</span>
            </div>
            <div class="form-group">
                <label>Priority</label>
                <select formControlName="priority" class="form-control"
                    [ngClass]="{'is-invalid': addRoutineForm.get('priority').errors && (addRoutineForm.get('priority').touched || addRoutineForm.get('priority').dirty)}">
                    <option value="1">Very High</option>
                    <option value="2">High</option>
                    <option value="3">Medium</option>
                    <option value="4">Low</option>
                </select>
                <span *ngIf="addRoutineForm.get('priority').errors" class="invalid-feedback">Priority is
                    required.</span>
            </div>

            <div *ngIf="routineType1" class="form-group">
                <label>Time of the day</label>
                <div class="row">
                    <div class="col-2">
                        <label>HH</label>
                        <select formControlName="hh" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('hh').errors && (addRoutineForm.get('hh').touched || addRoutineForm.get('hh').dirty)}">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>MM</label>
                        <select formControlName="mm" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('mm').errors && (addRoutineForm.get('mm').touched || addRoutineForm.get('mm').dirty)}">
                            <option value="00">1</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">22</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="">AM/PM</label>
                        <select formControlName="ampm" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('ampm').errors && (addRoutineForm.get('ampm').touched || addRoutineForm.get('ampm').dirty)}">
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                </div>
                <div>
                    <small
                        *ngIf="(addRoutineForm.get('hh').errors && (addRoutineForm.get('hh').touched || addRoutineForm.get('hh').dirty)) || 
                                    (addRoutineForm.get('mm').errors && (addRoutineForm.get('mm').touched || addRoutineForm.get('mm').dirty)) || 
                                    (addRoutineForm.get('ampm').errors && (addRoutineForm.get('ampm').touched || addRoutineForm.get('ampm').dirty))"
                        class="text-danger">Please select valid time.</small>
                </div>
            </div>

            <div *ngIf="routineType2" class="form-group">
                <div class="row">
                    <div class="col-2">
                        <label>Week-Day</label>
                        <select formControlName="day" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('day').errors && (addRoutineForm.get('day').touched || addRoutineForm.get('day').dirty)}">
                            <option value="0">Sunday</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                        </select>
                        <span *ngIf="addRoutineForm.get('day').errors" class="invalid-feedback">Day is
                            required.</span>
                    </div>
                    <div class="col-2">
                        <label>HH</label>
                        <select formControlName="hh" class="form-control">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>MM</label>
                        <select formControlName="mm" class="form-control">
                            <option value="00">1</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">22</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>AM/PM</label>
                        <select formControlName="ampm" class="form-control">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>
                    </div>
                </div>
            </div>

            <div *ngIf="routineType3" class="form-group">
                <div class="col-3 px-0">
                    <label>Select the Day</label>
                    <select formControlName="date" class="form-control"
                        [ngClass]="{'is-invalid': addRoutineForm.get('date').errors && (addRoutineForm.get('date').touched || addRoutineForm.get('date').dirty)}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                    </select>
                    <span *ngIf="addRoutineForm.get('date').errors" class="invalid-feedback">Day is
                        required.</span>
                </div>
            </div>
            <div *ngIf="routineType4" class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label>Select the Month</label>
                        <select formControlName="month" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('month').errors && (addRoutineForm.get('month').touched || addRoutineForm.get('month').dirty)}">
                            <option value="0">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                            <option value="4">May</option>
                            <option value="5">June</option>
                            <option value="6">July</option>
                            <option value="7">Augest</option>
                            <option value="8">September</option>
                            <option value="9">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                        <span *ngIf="addRoutineForm.get('month').errors" class="invalid-feedback">Month is
                            required.</span>
                    </div>
                    <div class="col-2">
                        <label>Select the Day</label>
                        <select formControlName="date" class="form-control"
                            [ngClass]="{'is-invalid': addRoutineForm.get('date').errors && (addRoutineForm.get('date').touched || addRoutineForm.get('date').dirty)}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                        </select>
                        <span *ngIf="addRoutineForm.get('date').errors" class="invalid-feedback">Day is
                            required.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Routine Description</label>
                <textarea formControlName="description" class="form-control" rows="05"></textarea>
            </div>
            <div *ngIf="submissionSuccessful" id="addTaskAlert">
                <div class="alert alert-success alert-dismissable" id="addTaskAlert2">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="submissionSuccessful"
                        (click)="submissionSuccessful = !submissionSuccessful">&times;</button>
                    Routine added successfully.
                </div>
            </div>
            <div class="container text-center">
                <button *ngIf="!isSubmitting" type="submit" class="btn btn-outline-primary mx-2"
                    [disabled]="!addRoutineForm.valid">Add</button>
                <button type="button" *ngIf="isSubmitting" class="btn btn-outline-primary mx-2" disabled>Adding
                    routine...</button>
                <button type="reset" class="btn btn-outline-danger" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
</form>